<!DOCTYPE html>
<html>
<head>
    <title>Board</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/Content/Site.css" />
    <link rel="stylesheet" href="/Content/Board.css" />
</head>

<body>
    <div id="chess">
        <!--Top row-->
        <div class="chess-piece"><p>&#9820</p></div>
        <div class="chess-piece"><p>&#9822</p></div>
        <div class="chess-piece"><p>&#9821</p></div>
        <div class="chess-piece"><p>&#9819</p></div>
        <div class="chess-piece"><p>&#9818</p></div>
        <div class="chess-piece"><p>&#9821</p></div>
        <div class="chess-piece"><p>&#9822</p></div>
        <div class="chess-piece"><p>&#9820</p></div>

        <div class="chess-piece"><p>&#9823</p></div>
        <div class="chess-piece"><p>&#9823</p></div>
        <div class="chess-piece"><p>&#9823</p></div>
        <div class="chess-piece"><p>&#9823</p></div>
        <div class="chess-piece"><p>&#9823</p></div>
        <div class="chess-piece"><p>&#9823</p></div>
        <div class="chess-piece"><p>&#9823</p></div>
        <div class="chess-piece"><p>&#9823</p></div>

        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>

        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>

        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>

        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>

        <div class="chess-piece"><p>&#9823</p></div>
        <div class="chess-piece"><p>&#9823</p></div>
        <div class="chess-piece"><p>&#9823</p></div>
        <div class="chess-piece"><p>&#9823</p></div>
        <div class="chess-piece"><p>&#9823</p></div>
        <div class="chess-piece"><p>&#9823</p></div>
        <div class="chess-piece"><p>&#9823</p></div>
        <div class="chess-piece"><p>&#9823</p></div>

        <div class="chess-piece"><p>&#9814</p></div>
        <div class="chess-piece"><p>&#9816</p></div>
        <div class="chess-piece"><p>&#9815</p></div>
        <div class="chess-piece"><p>&#9813</p></div>
        <div class="chess-piece"><p>&#9812</p></div>
        <div class="chess-piece"><p>&#9815</p></div>
        <div class="chess-piece"><p>&#9816</p></div>
        <div class="chess-piece"><p>&#9814</p></div>

    </div>
</body>
</html>
